<html>

<head>
    <title>Ananay's Musical Lights</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>
</head>

<body>
    <center>
        <div class="wrapper">
            <h1>Ananay's Musical Lights</h1>
            <br />
            <div class="boxes">
                <div class="box" id="spectrum">Spectrum</div>
                <div class="box" id="scroll">Scroll</div>
                <div class="box" id="energy">Energy</div>
                <div class="box" id="lights_on">Lights On</div>
                <div class="box" id="off">Off</div>
            </div>
        </div>
    </center>
</body>

</html>